body {
    background-image: url("../images/white-unsplash-9d0375d2.jpg");
    opacity: 90%;
    font-size: 2vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



nav {
    text-align: center;
}

header {
    text-align: center;
}

.card {
    margin: 2rem auto auto auto;
}

h5 {
    text-align: center;
}

th {
    padding: .5rem 1rem .5rem;
}

td {
    padding: 1rem 1rem 0 1rem;
}

nav {
    margin: 1rem auto 1rem auto;

}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 100%;
}

.dropdown {
    margin: 1rem auto 1rem auto;
}

.HomePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
}

p {
    text-align: center;
}

.login {
    text-align: center;

}

h4 {
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: inline-flex;
    width: 50%;
    display: table;
    clear: both;
}


.register {
    text-align: center;
}

div.password {
    margin-top: .5rem;
}

.img-fluid {
    margin-top: 1.25rem;
    margin-left: .5rem;
    height: 35%;
    width: 90%;
}

body {
    margin: 0;
}

.icon-bar {
    width: 100%;
    background-color: #000000;
    overflow: auto;
    opacity: 90%;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.Login_Button {
    width: auto;

}

.Buyer {
    width: 50%;
    padding-left: 50px;
}

img.HomePic {
    width: 50%;
}

.PP {
    background-color: #d7dadd;
    height: 80%;
    font-size: larger;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
}

.H_Pic {
    display: flex;
    justify-content: center;
}

.H_Pic img {
    max-width: 25rem;
    height: 25rem;
    margin: 20px;
}

/* .card.mb-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
} */