body {
    background-color: beige;
    padding: 1rem;
    
}
nav{
   text-align: center; 
}
header{
    text-align: center;
}

.card {
    margin: 2rem auto auto auto;
}

h5 {
    text-align: center;
}

th {
    padding: .5rem 1rem .5rem;
}
td {
    padding: 0 1rem 0 1rem;
}